{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Nosotros</title>

<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>

<body>

<nav>

<h1>VajisTech</h1>

</nav>

<section class="nosotros">

    <div class="card-nosotros">

        <h2>¿Quiénes Somos?</h2>

        <p>
            VajisTech es una empresa de desarrollo de software enfocada en crear
            soluciones tecnológicas innovadoras para el sector inmobiliario.
        </p>

    </div>

    <div class="card-nosotros">

        <h2> Misión</h2>

        <p>
            Facilitar la compra, venta y arriendo de propiedades mediante
            herramientas digitales modernas, seguras y eficientes.
        </p>

    </div>

    <div class="card-nosotros">

        <h2> Visión</h2>

        <p>
            Para el año 2030 ser una empresa líder en tecnología inmobiliaria,
            integrando inteligencia artificial para mejorar la experiencia de los usuarios.
        </p>

    </div>

</section>

</body>
<header class="header-nosotros">

<img src="{% static 'img/logo.png' %}">

    <h1>Sobre VajisTech</h1>

</header>
</html>